Provide a registration procedure

IANA requested:

> Please also provide a registration procedure for the new registry in Section 5.3. Please see Section 4 of RFC 8126:
> 
> https://www.rfc-editor.org/rfc/rfc8126.html#section-4

