Proxy-State

The `RADIUS Loop Prevention Overview` section has comments on `Max-Hop-Count`.  It's likely worth adding a note that proxied packets MUST have `Proxy-State` added, as per RFC 2865 Section 5.33.

